{% extends 'layout.html' %}

{% block title %}
    Tạo tài khoản mới
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="portfolio">
    <div class="container p-3 m-auto" style="width:50%">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        {% endfor %}
    
        <h3>Tạo tài khoản của bạn!</h3>
        <form method="post" action="/users/register/">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Tạo tên đăng nhập (chỉ chữ và số)" Required>
            </div>
            <div class="form-group">
                <label for="fname">Họ tên</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Nhập họ tên của bạn" Required>
            </div>
            <div class="form-group">
                <label for="lname">Tên</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Nhập tên của bạn" Required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ Email của bạn" Required>
            </div>
            <div class="form-group">
                <label for="pass1">Mật khẩu</label>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Tạo mật khẩu của bạn" Required>
            </div>
            <div class="form-group">
                <label for="pass2">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Xác nhận lại mật khẩu của bạn" Required>
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </form>
    </div>
</section>
{% endblock %}