{% extends 'layout.html' %}

{% block title %}
    Book
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="portfolio">

    <div class="container" id="content"> 
        <div class="row ">
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
            <div class="col-1">lớp 6</div>
        </div>
        <div class="row align-items-stretch mb-5 ">
            <div class="col-md-3 sticky-top" id="toc" style="
            height:100vh; 
            overflow: auto;
            top: 6rem;
            ">
                <div class="row">
                    <div class="col-12 sticky-top bg-light border-bottom mb-3">
                        <h4 class="section-heading text-center">Mục lục</h4>
                    </div>
                    <div class="col-12 index">
                        {% for chapter in chapters %}
                        <div class="nav-item">
                            <a class="nav-link" href="#{{chapter.id}}"> <h6 class="section-heading">Chương {{ forloop.counter }}: {{ chapter.name }}</h6> </a>
                        </div>
                            {% for lesson in chapter.lesson_set.all %}
                                <div class="nav-item">
                                    <a class="nav-link active" href="#{{lesson.id}}"><p>Bài {{ forloop.counter }}: {{ lesson.name }}</p></a>
                                </div>
                                {% for title in lesson.title_set.all %}
                                    <div class="nav-item">
                                        <a class="nav-link active" href="#{{title.id}}"><p>{{ forloop.counter }}. {{ title.name }}</p></a>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %} </div>
                </div>
            </div>
            <div class="col-md-9 px-5 bg-white" >
                {% for chapter in chapters %}
                    <br><h4 class="text-center" id="{{chapter.id}}" class="section-heading text-uppercase">Chương {{ forloop.counter }}: {{ chapter.name }}</h3><br>
                    {% for lesson in chapter.lesson_set.all %}
                        <br><h5 id="{{lesson.id}}" class="text-center">Bài {{ forloop.counter }}: {{ lesson.name }}</h5>
                        {% for title in lesson.title_set.all %}
                            <h6 id="{{title.id}}">{{ forloop.counter }}. {{ title.name }}</h6>
                            <p>{{ title.content }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endfor %} 
                </div>
            </div>
        </div> 
    </div>
</section> 
    
{% endblock %}